.home-usuario .cabecalho{
display: flex;
flex-direction: column;
width: 100%;
background: rgb(179, 202, 245);
min-height: 900px;
}
.ola {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #fff;
}
.home-usuario .cabecalho .selecao-jogo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-usuario .cabecalho .selecao-jogo form{
  margin-top: 50px;
}
.home-usuario .cabecalho .selecao-jogo form label{
  color: #fff;
  font-size: 32px;
  margin: 5px;
}
.cabecalho form select {
  background: rgba(4, 4, 199, 0.61);
  margin-top: 25px;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
}

.cabecalho form button {
  font-size: 20px;
  margin-top: 10px;
  background-color: rgb(248, 140, 51);
  color: #fff;
  width: 220px;
  height: 40px;
  border-radius: 25px;
}

.cabecalho button:hover {
  background-color: rgb(240, 109, 2);
  cursor: pointer;
}

.cabecalho select option {
  background: #fff;
  color: #000;

}

.cabecalho form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jogos{
  display: flex;
  flex-direction: row;
}
.jogos section{
  margin-top: 15px
}
.ultimas-apostas{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 255, 0.267);
  padding: 5px;
  width: 100%;
}
.ultimas-apostas h3{
  text-align: center;
  color: #fff;
}
@media(max-width: 768px){
  .home-usuario{
    width: 100%;
  }
  .home-usuario .cabecalho .selecao-jogo .resultados{
    width: 100%;
  }
  .home-usuario .ultimas-apostas{
    width: 100%;
    overflow: hidden;
  }
  .home-usuario .ultimas-apostas .jogos{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media(max-width: 414px){
  .home-usuario .cabecalho .ola{
    font-size: 20px;
  }
  .home-usuario .cabecalho .selecao-jogo .resultados .info-concurso {
    width: 100%;
  }

  .home-usuario .cabecalho .selecao-jogo .resultados .info-concurso ul {
    width: 80%;
  }

  .home-usuario .cabecalho .selecao-jogo .resultados .info-concurso ul li {
    padding: 5px;
  }

  .home-usuario .cabecalho .selecao-jogo .resultados .info-concurso ul li button {
    width: 35px;
    height: 35px;
  }

  .home-usuario .cabecalho .selecao-jogo .resultados .btn {
    font-size: 14px;
  }
}
@media(max-width: 375px){
  .home-usuario .cabecalho .selecao-jogo .resultados .info-concurso{
    width: 100%;
  }
  .home-usuario .cabecalho .selecao-jogo .resultados .info-concurso ul{
    width: 80%;
  }
  .home-usuario .cabecalho .selecao-jogo .resultados .info-concurso ul li{
    padding: 5px;
  }
  .home-usuario .cabecalho .selecao-jogo .resultados .info-concurso ul li button{
    width: 35px;
    height: 35px;
  }
  .home-usuario .cabecalho .selecao-jogo .resultados .btn{
    font-size: 10px;
  }
}
@media(max-width: 320px){
  .home-usuario .cabecalho .selecao-jogo .resultados .info-concurso ul{
    width: 80%;
  }
  .home-usuario .cabecalho .selecao-jogo .resultados .info-concurso ul li{
    padding: 3px;
  }
  .home-usuario .cabecalho .selecao-jogo .resultados .info-concurso ul li button{
    width: 30px;
    height: 30px;
  }
  .home-usuario .cabecalho .selecao-jogo .resultados .info-concurso p{
    font-size: 12px;
  }
}