.home-usuario .cabecalho{
display: flex;
flex-direction: column;
width: 100%;
background: rgb(179, 202, 245);
height: 500px;
}
.home-usuario .cabecalho .selecao-jogo{
  display: flex;
  justify-content: space-around;
}
.home-usuario .cabecalho .selecao-jogo form{
  margin-left: -100px;
}
.home-usuario .cabecalho .selecao-jogo form label{
  color: #fff;
  font-size: 32px;
  margin: 5px;
}
.ola{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.ultimas-apostas{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 255, 0.267);
  margin-top: px;
  padding: 5px;
  width: 100%;
}
.ultimas-apostas h3{
  text-align: center;
  color: #fff;
  margin-top: 0px;
}
.jogos{
  display: flex;
  flex-direction: row;
  padding: 5px;
}
.cabecalho button{
  font-size: 18px;
  background-color: rgb(248, 140, 51);
  color: #fff;
  width: 190px;
}
.cabecalho button:hover{
  background-color: rgb(240, 109, 2);
  cursor: pointer;
}
.cabecalho select{
  background: rgba(4, 4, 199, 0.61);
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
}
.cabecalho select option{
  background: #fff;
  color: #000;

}
.cabecalho form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cabecalho form button{
  margin-top: 5px
}
