.fim{
  display: fixed;
  /* position: absolute; */
  /* margin-top: 110px; */
  bottom: -0;
  left: 0;
  width: 100%;
}
.rodape{
  display: flex;
  align-items: center;
  background-color: rgb(252, 145, 57);
  width: 100%;
  height: 65px;
}
.rodape span{
  margin-right: 6%;
  margin-left: 25px;
  color: #FFF;
}
.redes{
  width: 150px;
  height: 25px;
  margin-right: 10px;
  background: rgb(121, 121, 250);
  border-radius: 12px;
}
.redes a{
  text-decoration: none;
  color: #fff;
}
@media(max-width: 414px){
  .fim .rodape{
    height: 45px;
  }
  .fim .rodape span{
    font-size: 12px;
    margin-right: 2%;
  }
  .fim .rodape .redes{
    width: 60px;
    margin-right: 0;
    height: 20px;
  }
}