.container-jogo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 180px;
  max-height: 180px;
  margin: 10px;
  background: #fff;
  min-width: 300px;
  max-width: 300px;
}
.container-jogo h3{
  text-align: center;
  color: #fff;
}
.container-jogo ul li {
  display: flex;
  flex-direction: column;
}
.container-jogo ul li p{
  text-align: center;
  padding: 3px;
}
.container-jogo .ver-mais {
  font-size: 18px;
  background-color: rgb(248, 140, 51);
  color: #fff;
  width: 150px;
  border-radius: 15px;
}

.container-jogo .ver-mais:hover {
  background-color: rgb(240, 109, 2);
  cursor: pointer;
}
.container-jogo .numeros-ultimas-apostas li{
  display: inline;
  padding: 1px;  
}
.container-jogo .numeros-ultimas-apostas li button{
  width: 25px;
  border: none;
  height: 25px;
  border-radius: 15px;
  color: #fff;
  background: rgba(73, 116, 117, 0.5);
  box-shadow: 1px 0px 0px #333;
}

.mega h3{
  background: rgb(0, 194, 0);
  width: 100%;
}
.mega button{
  margin-top: 10px;
}
.mega section{
  margin-top: 20px;
}
.mega .numeros-ultimas-apostas{
  margin-top: 15px;
}
.loto h3{
  background: rgb(155, 1, 160);
  width: 100%;
  /* margin-bottom: -15px; */
}
.loto button{
  margin-top: 10px;
}
.loto .numeros-ultimas-apostas{
  display: flex;
  width: 250px;
  flex-wrap: wrap;
  justify-content: center;
}
.loto section{
  margin-top: 0;
}
.quina h3{
  background: blue;
  width: 100%;
}
.quina button{
  margin-top: 10px;
}
.quina section{
  margin-top: 20px;
}
.quina .numeros-ultimas-apostas{
  margin-top: 15px;
}
.sem-aposta{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sem-aposta h3{
  margin-top: 10px;
}
.sem-aposta #sem{
  margin-top: -50px;
}