.resultados{
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  width: 800px;
  background: rgba(60, 79, 248, 0.925);
  height: 300px;
  border-radius: 8px;
  border: 1px solid #888;
  box-shadow: 4px 5px 6px #555;
  color: #fff;
}
.resultados .btn{
  height: 20px;
  margin-top: 130px;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  width: 65px;
  color: #fff;
  background: rgb(235, 143, 81);
  border-radius: 8px;
  box-shadow: 2px 5px 18px #fff;
}
.resultados .info-concurso ul{
  width: 350px;
  margin-top: 38px;
}
.resultados .info-concurso ul li{
  display: inline;
  padding: 10px;
}
.resultados .info-concurso ul li button{
  margin-top: 5px;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: rgba(182, 230, 231, 0.5);
  box-shadow: 2px 0px 5px rgb(56, 56, 56);
  color: #fff;
  font-size: 20px;
}
.info-concurso{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-concurso p{
  margin: 5px;
}