.resultados{
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-left: 10rem;
  width: 600px;
  background: rgba(0, 23, 235, 0.411);
  height: 300px;
  border-radius: 8px;
  border: 1px solid #888;
  box-shadow: 4px 5px 6px #555;
  color: #fff;
}
.resultados .btn{
  height: 20px;
  margin-top: 130px;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  width: 65px;
  color: #fff;
  background: rgb(235, 143, 81);
  border-radius: 8px;
  box-shadow: 2px 2px 2px #fff;
}
.resultados .info-concurso ul{
  width: 350px;
  margin-top: 38px;
}
.resultados .info-concurso ul li{

  display: inline;
  padding: 3px;
}
.resultados .info-concurso ul li button{
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  background: rgba(17, 19, 19, 0.89);
}
.info-concurso{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-concurso h1{
  margin-top: -30px;
  margin-bottom: 20px;
}
.info-concurso p{
  margin: 5px;
  margin-top: 20px;
}